@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  /* make the container fill the viewport height */
  min-height: 100vh;
  
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  transition: all 0.5s ease, color 0.3s ease;
}

body {
  margin: 0;
  font-family: sans-serif; 
}